@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');

:root {

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Asap", sans-serif;
  font-optical-sizing: auto;

  /* variables */
  --colorDark:#4B164C;
  --colorMiddle:#DD88CF;
  --colorLight:#F8E7F6;
  --colorWhite:#F5F5F5;
  --colorVeryDark:#1E1E1E;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}


body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   ul,
   ol,
   dl
 ):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}


img {
  display: block;
  max-width: 100%;
}

button{
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {

  height: 100%;

  scroll-behavior: smooth;
}

body {
  background-color:var(--colorWhite) ;
  min-height: 100%;

  line-height: 1.5;
}



svg *[fill] { fill: currentColor }
svg *[stroke] { stroke: currentColor }


svg * {
  transition-property: fill, stroke;
}


@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

p{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

#root{
  height: 100dvh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
