@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* variables */
$colorDark:#4B164C;
$colorMiddle:#cb89a5;
$colorLight:#F8E7F6;
$colorWhite:#F5F5F5;
$colorVeryDark:#1E1E1E;
$colorError: #bc2d50;
$colorBack:#fcf1f1;
$colorPink:#e096a3;
$colorDarkPink:#c8474f;
$colorLightPink:#eec2c4;
$paddingMetadata: 1rem;
$defaultTransitionDuration: 0.5s;
$chatComponentWidth: 28rem;



:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Anonymous Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  --colorDark:#4B164C;
  --colorMiddle:#cb89a5;
  --colorLight:#F8E7F6;
  --colorVeryDark:#1E1E1E;
  --colorError: #bc2d50;
  --colorPink:#e096a3;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}


body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   ul,
   ol,
   dl
 ):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}


img {
  display: block;
  max-width: 100%;
}

button{
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {

  height: 100%;

  scroll-behavior: smooth;
}

body {
  background-color:$colorBack ;
  min-height: 100%;
  line-height: 1.5;
}



svg *[fill] { fill: currentColor }
svg *[stroke] { stroke: currentColor }


svg * {
  transition-property: fill, stroke;
}


@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

p{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

#root{
  /*height: 100dvh;*/
  overflow: scroll;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  font-family: "Anonymous Pro", monospace;
}
h1,h2,h3,h4,h5,h6,p,div,ul,li{
  font-family: "Anonymous Pro", monospace;
}
.not-found{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: $colorDark;
  h1{
    margin: 0;
    padding: 0;
    text-shadow: #bc2d50 1px 0 10px;
  }
  h3{
    max-width: 40ch;
    text-align: center;
  }
  button{
    padding: 6px 8px;
    @extend %button;
    &:before{
      @extend %button-before;
      animation: glowing 20s linear infinite;
    }
    &:active{
      @extend %button-active;
    }
    &:active::after{
      @extend %button-active-after;
    }
    &:hover::before{
      @extend %button-hover-before;
    }
    &:after{
      @extend %button-after;
    }
  }
}

/* -----buttons----- */

%button{
    border: .5px solid $colorDark;
    font-size: 18px;
    outline: none;
    color: $colorDark;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
    transform: scale(1);
    transition: transform .5s linear;
}

%button-before{
  content: '';
    background: linear-gradient(45deg, $colorBack, $colorDark, $colorDarkPink, $colorError, $colorLight, $colorMiddle, $colorPink, $colorWhite);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 20px;
    will-change: opacity, transform;
}

%button-active{
  color: $colorDark;
}

%button-active-after{
  background: transparent;
}

%button-hover-before{
  opacity: 1;
  transform: scale(1.1);
}

%button-after{
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $colorLight;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@mixin glowing-animation {
  @-webkit-keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }

  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }
}
@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

/* ------------Underline Text------------ */

%text-base{
  cursor: pointer;
  position: relative;
}

%text-before{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: $colorDark;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

%text-hover-before{
  transform: scaleX(1);
  transform-origin: bottom left;
}

%scale-base{
  transform: scale(1);
  transition: transform .5s linear;
}

@mixin scale ($faktor){
  transform: scale($faktor);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}