node_modules

profile_image/avatar/*
!profile_image/avatar/female.jpg
!profile_image/avatar/male.jpg
!profile_image/avatar/non-binary.jpg

profile_image/thumb/*
!profile_image/thumb/female.jpg
!profile_image/thumb/male.jpg
!profile_image/thumb/non-binary.jpg