@import '../../../../index';

.chat-container {
    position: absolute;
    margin-inline: 15px;
    height: 85vh;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    bottom: 10px;
    z-index: 10;

    .metadata {
        height: 100%;
        background-color: $colorLight;
        // padding: $paddingMetadata;
        border-radius: 20px;
        box-shadow: 0 0 3px $colorVeryDark;
        transition-duration: $defaultTransitionDuration;
        position: relative;

        .matched-users {
            transition-duration: $defaultTransitionDuration;
            border-radius: 10px;
            overflow: auto;

            /* Hide scrollbar for IE, Edge and Firefox */
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */

            /* Hide scrollbar for Chrome, Safari and Opera */
            ::-webkit-scrollbar {
                display: none;
            }

            .no-message {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                .no-message__icon {
                    transition-duration: $defaultTransitionDuration;
                    width: 50px;
                    height: 50px;
                    .no-message__icon-path {
                        fill: $colorDark;
                        
                    }
                }

                .no-message__text {
                    display: flex;
                    justify-content: center;

                    transition-duration: $defaultTransitionDuration;
                    overflow: hidden;
                    text-wrap: nowrap;
                    color: $colorDark;
                }
            }

            .metadata-card {
                display: flex;
                align-items: center;
                justify-content: space-between;
                transition-duration: $defaultTransitionDuration;
                width: 25rem;
                padding: 10px;
                border-radius: 20px;


                .metadata-left {
                    width: 85%;

                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    .metadata-pic {
                        $imgSize: 60px;

                        width: $imgSize;
                        height: $imgSize;
                        border-radius: 50%;
                        overflow: hidden;
                        box-shadow: 0 0 3px $colorVeryDark;
                        cursor: pointer;

                        .notify-ring {
                            height: 72px;
                            width: 72px;
                            translate: -6px -6px;
                            position: absolute;
                            border-radius: 50%;
                        }

                        img {
                            width: $imgSize;
                            height: $imgSize;
                            object-fit: cover;
                            cursor: pointer;
                        }

                        .metadata-svg {
                            height: $imgSize;
                            width: $imgSize;

                            .icon-path {
                                fill: $colorMiddle;
                            }
                        }
                    }

                    .metadata-middle {
                        width: 70%;

                        .metadata-name {
                            font-size: 1.25rem;
                            text-align: center;
                        }

                        .metadata-message,
                        .metadata-name {
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            text-align: center;
                        }
                    }
                }

                .metadata-time {
                    text-align: center;
                    white-space: pre-line;
                    font-size: 0.75rem;
                }
            }

            .end-metadata__text {
                height: 10rem;
                padding: 2rem;
                text-wrap: nowrap;
                text-align: center;
            }
        }

        .collapse-container {
            transition-duration: 0.75s;
            position: absolute;
            /* bottom: $paddingMetadata;
            right: $paddingMetadata; */
            bottom: 10px;
            left: 9px;
            // right: 0;
            border-radius: 50%;
            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: space-between;

            .collapse {
                height: 60px;
                width: 60px;
                background-color: $colorLight;
                border-radius: 50%;

                .collapse-path {
                    fill: $colorPink;
                    stroke: rgba(0, 0, 0, 0.1);
                    stroke-width: 0.5;
                    @extend %scale-base;
                    &:hover{
                        @include scale (1.06);
                    }
                }
            }
        }
    }

    .chat-compose {
        box-shadow: 0 0 1px $colorVeryDark;
        height: 80%;
        border-radius: 20px;
        transition-duration: $defaultTransitionDuration;
        overflow-x: hidden;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;

        .top {
            $picSize: 50px;
            /* width: $chatComponentWidth; */
            width: 100%;
            background-color:$colorWhite;
            border: 1px solid $colorDark;
            border-radius: 20px;
            /* padding: 0.75rem 1.5rem; */
            padding: 8px 10px;

            display: flex;
            align-items: center;
            justify-content: space-between;

            .chat-pic {
                margin-right: 1rem;
                display: flex;
                border-radius: 50%;
                overflow: hidden;
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);

                img {
                    height: $picSize;
                    width: $picSize;
                    object-fit: cover;
                }

                .chat-svg {
                    height: $picSize;
                    width: $picSize;

                    .icon-path {
                        fill: $colorLight
                    }
                }
            }

            .partner-name {
                /* font-size: 1.5rem; */
                font-size: 20px;
                max-width: 100%;

                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            .partner-blank {
                width: $picSize;
            }
        }

        .messages {
            // width: $chatComponentWidth;
            width: 100%;
            flex-grow: 1;
            padding: 0 1rem;
            
            display: flex;
            flex-direction: column-reverse;
            gap: 0.5rem;

            overflow: auto;


            /* Hide scrollbar for IE, Edge and Firefox */
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */

            /* Hide scrollbar for Chrome, Safari and Opera */
            ::-webkit-scrollbar {
                display: none;
            }

            .message {
                border-radius: 10px;
                padding: 0.25rem 0.5rem;
                width: fit-content;
                max-width: 20rem;
                
                .message-content {
                    overflow-wrap: break-word;
                    font-size: 18px;
                }

                .message-createdAt {
                    width: fit-content;
                    margin-left: auto;
                    font-size: 14px;
                    opacity: 0.6;
                }
            }

            .new-match {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height:  100%;
                .chat-icon {
                    height: 150px;
                    width: 150px;


                    .icon-path {
                        fill: $colorDarkPink;
                    }
                }

                .new-match-message {
                    font-weight: 650;
                    font-size: 1.5rem;
                    color: $colorDarkPink;
                }
            }

            .down-button {
                position: absolute;
                right: 2rem;
                height: 60px;
                width: 60px;
                cursor: pointer;
                background-color: $colorWhite;
                border-radius: 50%;

                .icon-path {
                    fill: $colorMiddle;
                }
            }
        }

        .bottom {
            $componentHeight: 40px;
            border: 1px solid $colorDark;
            background-color: $colorWhite;
            border-radius: 20px;
            padding: 0.25rem 1rem;

            display: flex;
            justify-content: space-between;
            gap: 1rem;

            input {
                background-color: $colorWhite;
                height: $componentHeight;
                background-color: transparent;
                border: unset;
                outline: none;
                flex-grow: 1;
                font-size: 18px;
            }

            button {
                height: $componentHeight;

                .send-icon {
                    height: $componentHeight;
                    width: $componentHeight;

                    .icon-path {
                        fill: $colorDark;
                    }
                }
            }
        }
    }
}