@import '../../../index';

.auth-layout{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    .home{
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-bottom: 20px;

        .home-container{
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-evenly;
            @media screen and (max-width: 500px) {
                justify-content: center;
                height: auto;
            }

            .home__image{
                img{
                    width: 520px;
                    aspect-ratio: 1;
                    padding: 20px;
                    animation: scale 6s ease-in-out infinite alternate;
                }
            }
            @keyframes scale {
                0%, 100% {
                    transform: scale(1);
                }
                25% {
                    transform: scale(1.1);
                }
                50% {
                    transform: scale(1.05);
                }
                75% {
                    transform: scale(1.2);
                }
            }
            .home__info{
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                gap: 30px;
                margin-bottom: 20px;

                .home__info-heading{
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    img{
                        width: 120px;
                        position: relative;
                        top: 10px;
                        @media screen and (max-width:700px) {
                                width: 100px;
                        }
                        @media screen and (max-width:480px) {
                                width: 70px;
                                top: 6px;
                        }
                    }
                    h1{
                        font-size: 80px;
                        color: $colorDark;
                        text-align: center;
                        @media screen and (max-width:700px) {
                                font-size: 60px;
                        }
                        @media screen and (max-width:480px) {
                                font-size: 40px;
                        }
                    }
                }
                .auth-btn{
                    display: flex;
                    flex-flow: row wrap;
                    gap: 25px;
                    justify-content: center;
                    align-items: center;
                    .create-btn,.login-btn,.submit-btn{
                        padding: 15px 25px;
                        @extend %button;
                        &::before{
                            @extend %button-before;
                            @include glowing-animation; 
                            animation: glowing 20s linear infinite;
                        }
                        &:active{
                            @extend %button-active;
                        }
                        &:active::after{
                            @extend %button-active-after;
                        }
                        &:hover::before{
                            @extend %button-hover-before;
                        }
                        &::after{
                            @extend %button-after;
                        }
                
                        @media screen and (max-width:700px) {
                                padding: 10px 20px;
                            
                        }
                        @media screen and (max-width:480px) {
                           
                                font-size: 16px;
                                padding: 5px 15px;
                            
                        }
                    }
                }
            }
        }
    }
}